# Подключение к базе postgres
# DB_NAME=test
# DB_USER=test
# DB_PASS=test
# DB_HOST=postgres
# DB_PORT=1234
TOKEN=93873a5a57027580a4c71a279ae5a0fcd40fb1fbecafc0a6f4449e5e09a07fea

# QDRANT_API_KEY=zDx@FC42ev33kTyz
QDRANT_BASE_URL=http://qdrant:6333

REDIS_URL=redis://redis:6379

EMBEDDING_SERVICE=http://s00-0000-ai29.sogaz.ru:8000
EMBEDDING_SERVICE_TOKEN=57e4a69c3c49bb9ab539d1e6ff8f79e9acba4b05a5e52468967c89f89890ae3a

# llm interface

PRIORITY_LLM_INTERFACE=ollama # ollama or openai
OPENAI_LLM_BASE_URL=http://s00-0000-ai08.sogaz.ru/h100-vllm/v1
OPENAI_LLM_MODEL_NAME=t-tech-lora-ui-kit
OLLAMA_LLM_BASE_URL=http://s00-0000-ai08.sogaz.ru/ai24-llm-gpu
OLLAMA_LLM_MODEL_NAME=sogaz_ai
